/* .nav {
   background-color:#a2c8ec;
  height: 60px; 
  padding-left: 1125px; 
  padding-top: 15px; 
  padding-right: 0px;
  padding-bottom: 0px;
}
.navButton {
   margin-left: 0px; 
  font-family: sans-serif;
  font-size: 22px;
  border-radius: 4px;
  width: 130px;
  border: 2px solid white;
  color: #a2c8ec;
  margin-right: 20px; 
  background-color: white;
}
.navButton:hover { 
   background-color: #bbeaff;
    color: white; 
} */
 img {
    padding-right: 700px;
    padding-left: 20px; 
    padding-bottom: 10px; 
  }